/**** generic ****/
*{
	padding:0;
	margin:0;
}

body{
	background-color: #fbfbfb!important;
	font-family:Myriad Pro;
}

.wrap{
	background: url(../images/bg.png) no-repeat;
	width:1920px;
	margin:0 auto;
	position:relative;
}

header, section, footer{
	width:100%;
	float:left;
}

span.black{
	color:#000;
}

span.green{
	color:#c9f400;
}
/**** end generic ****/

/**** header ****/
header{
	height:100px;
	background-color:#181e20;
}

nav{
	background: url(../images/menu-icon.png) 615px 30px no-repeat;
	width:1920px;
	height:100px;
	padding-top:26px;
	background-color:#181e20;
}

nav ul{
    width: 660px;
    height:74px;
    margin: 0 auto;
}

nav li{
	display:block;
	float:left;
	margin-left:6px;
}

nav a{
	text-decoration:none;
	text-transform:uppercase;
	color:#8e9699;
	padding-right:18px;
	padding-left:18px;
	font-weight:bold;
	height:38px;
	display:block;
	border-bottom:1px solid #393e41;
	transition: border-bottom 0.8s ease-in-out;
}

nav a:hover{
	background: url(../images/red-arrow.png) center 25px no-repeat;
	border-bottom:1px solid #ff6969;
    height: 11px;
    color: #fff;
    text-decoration: none;
    padding-right:18px;
	padding-left:18px;
    border-spacing: 20px;
    height: 38px;
    display: block;
}

a.selected{
	color:#fff;
	background: url(../images/red-arrow.png) center 25px no-repeat;
	border-bottom:1px solid #ff6969;
}

a.space-right{
	margin-right:40px;
}

a.space-left{
	margin-left:40px;
}
/**** end header ****/

/**** slider ****/
#slider{
    background-color:#252932;
	height:1098px;
}

#slider .slider-content{
	position:relative;
	background-color:#252932;
}

.looking{
	float:left;
	margin-top:408px;
}

.looking h2{
	color:#697181;
}

#list {
    width: 300px;
    height: 435px;
    margin: 100px auto;
    float: left;
    margin-top: 200px;
 }

 #list .arrow {
     height: 54px;
     text-align: center;
     cursor: pointer;
 }

 #list .arrow.up,  #list .arrow.down {
     color:#e76263;
     font-size:50px;
 }

  #list .arrow.down:hover,  #list .arrow.up:hover {
     color:#ff6969;
 }

 #list .options {
     height: 349px;
     overflow: hidden;
     padding: 0 5px;
 }

 #list .options .slider {
     line-height:102px;
 }

 #list .option{
 	 font-size:24px;
 	 text-align:center;
 	 color:#323740;
 	 margin-top:20px;
 }

 #list .option.current {
     color:#fff;
     font-size:24px;
     text-align:center;
 }
/**** end slider ****/

/**** section1 ****/
#section1 .title-section{
	margin:119px 0 0 0;
	text-align:center;
}

.title-section h2, .description h2{
	font-size:48px;
}

.description h2{
	text-transform:capitalize;
}

.title-section .pink{
	color:#ff6969;
	margin-left:10px;
}

.content-section{
    margin: -246px 0 0 288px;
    text-transform: justify;
    color: #9494a1;
    text-align:center;
}

.content-section p{
	font-size:24px;
}

.box-section{
	height:621px;
	margin:98px 0 77px 0;
}

.box-section-different{
	height:621px;
}

.box-section-left{
	float:left;
	height:621px;
	margin:0 0 0 120px;
}

.box-section-right-different{
	width:770px;
	height:621px;
	margin:-130px 0 0 20px;
	background-color:#fff;
}

.box-section-right{
	width:770px;
	height:621px;
	margin:0 0 0 20px;
	background-color:#fff;
}

.box-section-left-different{
	float:left;
	height:621px;
	margin:-130px 0 0 120px;
}

.box-section-right .description, .box-section-right-different .description{
	padding:82px 0 0 77px;
}

p.details-description, p.content-description{
	color:#9494a1;
}

.pink-container p.details-description, .pink-container p.content-description,
.black-container p.details-description, .black-container p.content-description{
	color:#fff;
	width:220px;
	margin:0 auto;
	margin-top:78px;
}

p.content-description{
	width:499px;
	height:36px;
	font-size:24px;
	line-height:41px;
}
/**** end section1 ****/

/**** section2 ****/
#section2{
	background-color:#d6587c;
}

.pink-container{
	background-color:#d6587c;
	height:739px;
}

.title-section h2{
	font-size:48px;
	color:#000;
	text-align:center;
}

.content-section{
	width:1432px;
	margin:0 auto;
}

.content-section p{
	font-size:24px;
	color:#000;
	text-align:center;
	margin-top:32px;
}

.title-section-white h2{
	font-size:48px;
	color:#fff;
	text-align:center;
}

.content-section-white{
	width:1432px;
	margin:0 auto;
}

.content-section-white p{
	font-size:24px;
	color:#fff;
	text-align:center;
	margin-top:32px;
}

.box-images-section2{
	margin:0 auto;
	width:1381px;
	height:282px;
	margin-top:89px;
}
/**** end section2 ****/

/**** section3 ****/
/**** end section3 ****/

/**** section4 ****/
#section4{
	background-color:#020000;
}

.black-container{
	background-color:#020000;
	height:739px;
}

.box-images-section4{
	margin:0 auto;
	width:1381px;
	height:282px;
	margin-top:89px;
}

.sunshine{
	width:254px;
	height:200px;
	margin:0 auto;
}
/**** end section4 ****/

/**** section5 ****/
.box-last-section{
	margin-bottom:708px;
}
/**** end section5 ****/