/**** generic ****/
*{
	padding:0;
	margin:0;
}

body{
	background-color: #fbfbfb!important;
	font-family:Myriad Pro;
}

.wrap{
	background: url(../images/bg.png) no-repeat;
	width:960px;
	margin:0 auto;
	position:relative;
}

header, section, footer{
	width:100%;
	float:left;
}

span.black{
	color:#000;
}

span.green{
	color:#c9f400;
}
/**** end generic ****/

/**** header ****/
header{
	height:100px;
	background-color:#181e20;
}

nav{
	background: url(../images/menu-icon.png) 137px 30px no-repeat;
	width:960px;
	height:100px;
	padding-top:26px;
	background-color:#181e20;
}

nav ul{
    width: 660px;
    height:74px;
    margin: 0 auto;
}

nav li{
	display:block;
	float:left;
	margin-left:6px;
}

nav a{
	text-decoration:none;
	text-transform:uppercase;
	color:#8e9699;
	padding-right:18px;
	padding-left:18px;
	font-weight:bold;
	height:38px;
	display:block;
	border-bottom:1px solid #393e41;
	transition: border-bottom 0.8s ease-in-out;
}

nav a:hover{
	background: url(../images/red-arrow.png) center 25px no-repeat;
	border-bottom:1px solid #ff6969;
    height: 11px;
    color: #fff;
    text-decoration: none;
    padding-right:18px;
	padding-left:18px;
    border-spacing: 20px;
    height: 38px;
    display: block;
}

a.selected{
	color:#fff;
	background: url(../images/red-arrow.png) center 25px no-repeat;
	border-bottom:1px solid #ff6969;
}

a.space-right{
	margin-right:40px;
}

a.space-left{
	margin-left:40px;
}
/**** end header ****/

/**** slider ****/
#slider{
    background-color:#252932;
	height:536px;
}

#slider .slider-content{
	position:relative;
	background-color:#252932;
}

.slider-image img{
	width:465px;
	height:533px;
}

.looking{
	float:left;
	margin-top:175px;
}

.looking h2{
	color:#697181;
}

#list {
    width: 300px;
    height: 285px;
    margin: 0 auto;
    float: left;
    margin-top: -178px;
    margin-left: 214px;
 }

 #list .arrow {
     height: 54px;
     text-align: center;
     cursor: pointer;
 }

 #list .arrow.up{
     color:#e76263;
     font-size:50px;
 }

  #list .arrow.down {
  	 color:#e76263;
     font-size:40px;
  }

  #list .arrow.down:hover,  #list .arrow.up:hover {
     color:#ff6969;
 }

 #list .options {
    height: 185px;
    overflow: hidden;
    padding: 0 5px;
 }

 #list .options .slider {
     line-height:39px;
 }

 #list .option{
 	 font-size:24px;
 	 text-align:center;
 	 color:#323740;
 	 margin-top:20px;
 }

 #list .option.current {
     color:#fff;
     font-size:24px;
     text-align:center;
 }
/**** end slider ****/

/**** section1 ****/
#section1 .title-section{
	margin:62px 0 0 0;
	text-align:center;
}

.title-section h2, .description h2{
	font-size:24px;
}

.description h2{
	text-transform:capitalize;
}

.title-section .pink{
	color:#ff6969;
	margin-left:10px;
}

.content-section{
    margin: -10px 0 0 6px;
    text-transform: justify;
    color: #9494a1;
    text-align:center;
}

.content-section p{
	font-size:24px;
}

.box-section{
	height: 430px;
    margin: 60px 0 77px 0;
}

.box-section-different{
	height:415px;
}

.box-section-left{
	float:left;
	height:415px;
	margin:0 0 0 120px;
}

.box-section-right-different{
	width:378px;
	height:400px;
	margin:-61px 0 0 91px;
	background-color:#fff;
}

.box-section-right{
	width: 378px;
    height: 348px;
    margin: 0 0 0 91px;
    background-color: #fff;
}

.box-section-left-different{
	float:left;
	height:415px;
	margin: -70px 0 0 54px;
}

.box-section-left img{
	width:560px;
	height:429px;
}

.box-section-left-different img{
	width:500px;
	height:351px;
}

.box-section-right .description, .box-section-right-different .description{
	padding:30px 0 0 30px;
}

p.details-description, p.content-description{
	color:#9494a1;
}

.pink-container p.details-description, .pink-container p.content-description,
.black-container p.details-description, .black-container p.content-description{
	color:#fff;
	width:220px;
	margin:0 auto;
	margin-top:78px;
}

p.content-description{
	width: 281px;
    height: 36px;
    font-size: 14px;
    line-height: 24px;
}

.gray-image img{
	width:155px;
	height:254px;
}
/**** end section1 ****/

/**** section2 ****/
#section2{
	background-color:#d6587c;
}

.pink-container{
	background-color:#d6587c;
	height:615px;
}

.title-section h2{
	font-size:30px;
	color:#000;
	text-align:center;
}

.content-section p{
	font-size:15px;
	color:#000;
	text-align:center;
	margin-top:32px;
}

.title-section-white h2{
	font-size:30px;
	color:#fff;
	text-align:center;
}

.content-section-white{
	width:784px;
	margin:0 auto;
}

.img-box img{
	width:180px;
	height:180px;
}

.content-section-white p{
	font-size:14px;
	color:#fff;
	text-align:center;
	margin-top:32px;
}

.box-images-section2{
	margin:0 auto;
	width:960px;
	height:176px;
	margin-top:89px;
}
/**** end section2 ****/

/**** section3 ****/
/**** end section3 ****/

/**** section4 ****/
#section4{
	background-color:#020000;
}

.black-container{
	background-color:#020000;
	height:612px;
}

.box-images-section4{
	margin:0 auto;
	width:960px;
	height:238px;
	margin-top:89px;
}

.img-box-section4 img{
	width:239px;
	height:204px;
}

.img-box-sun-section4 img{
	width:280px;
	height:240px;
}

.img-box-sunshine-section4 img{
	width: 178px;
    height: 43px;
}

.sunshine{
	width: 193px;
    height: 100px;
    margin: 0 auto;
}
/**** end section4 ****/

/**** section5 ****/
.box-last-section{
	margin-bottom:500px;
}
/**** end section5 ****/